.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('images/logo@2x.png'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if config.description
        .description
          p= config.description

  ul.social-links
    if config.theme_config.twitter
      li
        a(href="https://twitter.com/" + config.theme_config.twitter)
          i.fa.fa-twitter
    if config.theme_config.instagram
      li
        a(href="http://instagram.com/" + config.theme_config.instagram)
          i.fa.fa-instagram
    if config.theme_config.rss
      li
        a(href= url_for(config.theme_config.rss))
          i.fa.fa-rss
    if config.theme_config.weibo
      li
        a(href="http://weibo.com/" + config.theme_config.weibo)
          i.fa.fa-weibo
    if config.theme_config.facebook
      li
        a(href="http://facebook.com/" + config.theme_config.facebook)
          i.fa.fa-facebook
    if config.theme_config.github
      li
        a(href="http://github.com/" + config.theme_config.github)
          i.fa.fa-github
  include footer
